# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List common Data Science Tools
- Give an example of an arithmetic expression
- Give another example of an arithmetic expression

Some of the popular languages that Data Scientists use are: Python, R and SQL

Some of the commonly used libraries used by Data Scientists include: Pandas, NumPy and Matplotlib

|Data Science Tool|
|----|
|Rstudio|
|TensorFlow|
Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Josh Burgess